@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.navbar {
  background: #fff;
}

.navbar-brand {
  font-size: 1.9rem;
  color: #565387;
}

.nav-item {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover,
#header .brand-name {
  color: #3498db;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem; /* Reduce font size for mobile */
  }

  .navbar-nav {
    display: none; /* Hide the nav items on mobile */
  }

  .navbar-toggler {
    display: block; /* Show the toggler button on mobile */
  }

  .menu_active {
    border-bottom: none; /* Remove the border-bottom for mobile */
  }

  .navbar-collapse {
    position: absolute;
    top: 100%; /* Position the collapsed menu below the navbar */
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for the collapsed menu */
  }

  .navbar-collapse ul {
    display: flex;
    flex-direction: column; /* Stack the menu items vertically */
  }

  .navbar-collapse li {
    margin-bottom: 10px; /* Add margin between the stacked menu items */
  }

  .navbar-collapse a {
    font-size: 1.3rem; /* Adjust the font size for mobile */
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
